@model Baaa.Models.PortierDetail

    @{
        ViewBag.Title = "Delete";
    }
    <head>
        <link href="~/Content/Delete.css" rel="stylesheet" />
    </head>
    <h1>Portier verwijderen</h1>
    <center>
        @Html.ActionLink("Terug naar Overzicht", "Index")
    </center>
    <div class="row">
        <br /><br /><br />
        <hr />
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PortierNaam):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PortierNaam)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PortierAchternaam):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PortierAchternaam)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Adres):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Adres)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Postcode):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Postcode)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PlaatsNaam):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PlaatsNaam)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telefoon):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telefoon)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ProvincieName):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProvincieName)
                </dd>
            </dl>
        </div>


    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Opmerking):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Opmerking)
                </dd>

            </dl>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <hr />
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h4>Weet je zeker dat je deze Portier wil verwijderen?</h4>
            <div class="form-actions no-color delete">
                <input type="submit" value="Verwijder" class="btn btn-default" />
            </div>
        }

    </div>